/* Austin Shouli 659 053 854
Final Project for CSCI 115 */


#projects_img {
    
   order: 1;
   float: left;
   padding: 10px;
   width: 50%;
   height: 50%;
   margin: 0%;
   max-width: 300px;

}

#Desk {

   display: block;
   float: top;
   top: 10px;
   clear: both;

}

#blog_block{

   float: right;
   clear: both;
   margin-bottom: 50px;
   top: 5px;
   width: 50%;
   max-width: 50%;
  
}
