/* Austin Shouli 659 053 854
Final Project for CSCI 115 */


#index_img {
    
   order: 1;
   float: right;
   padding: 10px;
   width: 30%;
   height: 30%;
   width: 50%;
   margin: 0%;
   max-width: 300px;

}

.index_block {

   float: right;
   clear: both;
   margin-bottom: 50px;
   top: 5px;
   /* max-width: 1000px; */
}