/* Austin Shouli 659 053 854
Final Project for CSCI 115 */

#studio1{

    
    width: 50%;
    margin: 5%;
   
}

#studio2{

    
    width: 50%;
    margin-right: 5%;

}

.gear_list {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 7px;
}

